<h1>JSON Files comparator</h1>

<% if !@comparator.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @comparator.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>
 <div class="container">
   <%= form_tag({:controller => :comparator, :action => :create}, {:multipart => true, :method => :post}) do |f| %>
    <div class="form-group row">
    <label class="control-label"  for="firstFileUpload">First file:</label>
    <div class="col-sm-10">
       <%= file_field_tag 'jsonfile1', accept: 'application/JSON,  text/plain' %>
    </div>
    <label class="control-label" for="firstFileUpload">Second file:</label>
    <%= file_field_tag 'jsonfile2', accept: 'application/JSON, text/plain' %>
   </div>
    <%= submit_tag "Compare!!", class: "btn btn-primary"  %>
  <% end %>
 <div>
