<h2> The files are
 <% if @equal == false %>
   <b>not</b>
 <% end %>
 equal
 </h2>
 <% if  @equal == false %>
   <b> Differences:</b>
   <input type="text" value="<%= @diff %>" class="text-description" readonly >
 <% end %>

<%= button_to "Back", comparator_index_path, method: :get, class: "btn btn-primary" %>